<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Axios Visuals: <%= subhead %></title>
	<!--[if lt IE 9]>
	  <script type="text/javascript" charset="utf-8" src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="//static.axios.com/css/reset.css" media="screen">
	<link rel="stylesheet" href="//static.axios.com/css/unsub.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<style>
		html, body {
			background-color: white;
			width: auto;
			height: auto;
		}
		.tmpl-ai2htmlPage {
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="tmpl-ai2htmlPage">
		<h1 class="tmpl-pageHed"><%= subhead %></h1>
		<p class="tmpl-pageIntro"><%= leadin %></p>
		<div class="g-graphicStub">
			<%= ai2htmlPartial %>
		</div>
		<p  class="tmpl-pageNotes"><%= notes %></p>
		<p  class="tmpl-pageSources"><%= sources %></p>
		<p  class="tmpl-pageCredits"><%= credit %></p>
	</div>
	<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			var pymChild = new pym.Child({ polling: 500 });
			pymChild.sendHeight();
		}
	</script>
</body>
</html>
